In [4]:
# Importing Lib
import pandas as pd
import numpy as np

### Sample DataFrame

In [5]:
df = pd.DataFrame({'user_0':[0,3,0,5,0,0,4,5,0,2], 'user_1':[0,0,3,2,5,0,4,0,3,0], 'user_2':[3,1,0,3,5,0,0,4,0,0], 'user_3':[4,3,4,2,0,0,0,2,0,0], 
                   'user_4':[2,0,0,0,0,4,4,3,5,0], 'user_5':[1,0,2,4,0,0,4,0,5,0], 'user_6':[2,0,0,3,0,4,3,3,0,0], 'user_7':[0,0,0,3,0,2,4,3,4,0], 
                   'user_8':[5,0,0,0,5,3,0,3,0,4], 'user_9':[1,0,2,0,4,0,4,3,0,0]}, index=['job_title_0','job_title_1','job_title_2','job_title_3','job_title_4','job_title_5','job_title_6','job_title_7','job_title_8','job_title_9'])
df

,user_0,user_1,user_2,user_3,user_4,user_5,user_6,user_7,user_8,user_9
job_title_0,0,0,3,4,2,1,2,0,5,1
job_title_1,3,0,1,3,0,0,0,0,0,0
job_title_2,0,3,0,4,0,2,0,0,0,2
job_title_3,5,2,3,2,0,4,3,3,0,0
job_title_4,0,5,5,0,0,0,0,0,5,4
job_title_5,0,0,0,0,4,0,4,2,3,0
job_title_6,4,4,0,0,4,4,3,4,0,4
job_title_7,5,0,4,2,3,0,3,3,3,3
job_title_8,0,3,0,0,5,5,0,4,0,0
job_title_9,2,0,0,0,0,0,0,0,4,0

In [6]:
df.values

array([[0, 0, 3, 4, 2, 1, 2, 0, 5, 1],
       [3, 0, 1, 3, 0, 0, 0, 0, 0, 0],
       [0, 3, 0, 4, 0, 2, 0, 0, 0, 2],
       [5, 2, 3, 2, 0, 4, 3, 3, 0, 0],
       [0, 5, 5, 0, 0, 0, 0, 0, 5, 4],
       [0, 0, 0, 0, 4, 0, 4, 2, 3, 0],
       [4, 4, 0, 0, 4, 4, 3, 4, 0, 4],
       [5, 0, 4, 2, 3, 0, 3, 3, 3, 3],
       [0, 3, 0, 0, 5, 5, 0, 4, 0, 0],
       [2, 0, 0, 0, 0, 0, 0, 0, 4, 0]])

In [7]:
from sklearn.neighbors import NearestNeighbors

### Finding Similarity

In [8]:
knn = NearestNeighbors(metric='cosine', algorithm='brute')
knn.fit(df.values)
distances, indices = knn.kneighbors(df.values, n_neighbors=5)

#### Recommendataion based on Distances and vectors from KNN

In [9]:
for title in df.index:
  
  index_user_likes = df.index.tolist().index(title) # get an index for a movie
  sim_movies = indices[index_user_likes].tolist() # make list for similar movies
  print("------>",sim_movies)
  movie_distances = distances[index_user_likes].tolist() # the list for distances of similar movies
  id_movie = sim_movies.index(index_user_likes) # get the position of the movie itself in indices and distances
  print("------>",id_movie)

  print('Similar Movies to '+str(df.index[index_user_likes])+':\n')


  sim_movies.remove(index_user_likes) # remove the movie itself in indices
  movie_distances.pop(id_movie) # remove the movie itself in distances

  j = 1
  
  for i in sim_movies:
    print(str(j)+': '+str(df.index[i])+', the distance with '+str(title)+': '+str(movie_distances[j-1]))
    j = j + 1
      
  print('\n')

------> [0, 7, 5, 4, 9]
------> 0
Similar Movies to job_title_0:

1: job_title_7, the distance with job_title_0: 0.3195861825602283
2: job_title_5, the distance with job_title_0: 0.40340472183738674
3: job_title_4, the distance with job_title_0: 0.40453484184315647
4: job_title_9, the distance with job_title_0: 0.42264973081037427


------> [1, 3, 7, 2, 0]
------> 0
Similar Movies to job_title_1:

1: job_title_3, the distance with job_title_1: 0.3684210526315791
2: job_title_7, the distance with job_title_1: 0.39543645824165696
3: job_title_2, the distance with job_title_1: 0.5207661617014769
4: job_title_0, the distance with job_title_1: 0.5557383416806808


------> [2, 1, 6, 0, 3]
------> 0
Similar Movies to job_title_2:

1: job_title_1, the distance with job_title_2: 0.5207661617014769
2: job_title_6, the distance with job_title_2: 0.5243292879915494
3: job_title_0, the distance with job_title_2: 0.5505334250245053
4: job_title_3, the distance with job_title_2: 0.5607023148930206


------> [3, 6, 7, 1, 8]
------> 0
Similar Movies to job_title_3:

1: job_title_6, the distance with job_title_3: 0.27236779788557686
2: job_title_7, the distance with job_title_3: 0.2866150207251553
3: job_title_1, the distance with job_title_3: 0.3684210526315791
4: job_title_8, the distance with job_title_3: 0.49667770431528346


------> [4, 0, 7, 9, 2]
------> 0
Similar Movies to job_title_4:

1: job_title_0, the distance with job_title_4: 0.40453484184315647
2: job_title_7, the distance with job_title_4: 0.4806550570967598
3: job_title_9, the distance with job_title_4: 0.5311927690615046
4: job_title_2, the distance with job_title_4: 0.5802891755539581


------> [5, 7, 0, 6, 8]
------> 0
Similar Movies to job_title_5:

1: job_title_7, the distance with job_title_5: 0.38717412297165876
2: job_title_0, the distance with job_title_5: 0.40340472183738674
3: job_title_6, the distance with job_title_5: 0.4762770634336182
4: job_title_8, the distance with job_title_5: 0.5180287391386326


------> [6, 8, 3, 7, 5]
------> 0
Similar Movies to job_title_6:

1: job_title_8, the distance with job_title_6: 0.23372680904614496
2: job_title_3, the distance with job_title_6: 0.27236779788557686
3: job_title_7, the distance with job_title_6: 0.33135215016426833
4: job_title_5, the distance with job_title_6: 0.4762770634336182


------> [7, 3, 0, 6, 5]
------> 0
Similar Movies to job_title_7:

1: job_title_3, the distance with job_title_7: 0.2866150207251553
2: job_title_0, the distance with job_title_7: 0.3195861825602283
3: job_title_6, the distance with job_title_7: 0.33135215016426833
4: job_title_5, the distance with job_title_7: 0.38717412297165876


------> [8, 6, 3, 5, 2]
------> 0
Similar Movies to job_title_8:

1: job_title_6, the distance with job_title_8: 0.23372680904614496
2: job_title_3, the distance with job_title_8: 0.49667770431528346
3: job_title_5, the distance with job_title_8: 0.5180287391386326
4: job_title_2, the distance with job_title_8: 0.6180856302014994


------> [9, 0, 7, 4, 5]
------> 0
Similar Movies to job_title_9:

1: job_title_0, the distance with job_title_9: 0.42264973081037427
2: job_title_7, the distance with job_title_9: 0.4814550271298651
3: job_title_4, the distance with job_title_9: 0.5311927690615046
4: job_title_5, the distance with job_title_9: 0.6000000000000001

# Predict a Rating for a Job by a User

In [10]:
df

,user_0,user_1,user_2,user_3,user_4,user_5,user_6,user_7,user_8,user_9
job_title_0,0,0,3,4,2,1,2,0,5,1
job_title_1,3,0,1,3,0,0,0,0,0,0
job_title_2,0,3,0,4,0,2,0,0,0,2
job_title_3,5,2,3,2,0,4,3,3,0,0
job_title_4,0,5,5,0,0,0,0,0,5,4
job_title_5,0,0,0,0,4,0,4,2,3,0
job_title_6,4,4,0,0,4,4,3,4,0,4
job_title_7,5,0,4,2,3,0,3,3,3,3
job_title_8,0,3,0,0,5,5,0,4,0,0
job_title_9,2,0,0,0,0,0,0,0,4,0

In [11]:
knn = NearestNeighbors(metric='cosine', algorithm='brute')
knn.fit(df.values)
distances, indices = knn.kneighbors(df.values, n_neighbors=3)

In [12]:
index_for_movie = df.index.tolist().index('job_title_0') # it returns 0
sim_movies = indices[index_for_movie].tolist() # make list for similar movies
movie_distances = distances[index_for_movie].tolist() # the list for distances of similar movies
id_movie = sim_movies.index(index_for_movie) # get the position of the movie itself in indices and distances
sim_movies.remove(index_for_movie) # remove the movie itself in indices
movie_distances.pop(id_movie) # remove the movie itself in distances

print('The Nearest Movies to job_title_0:', sim_movies)
print('The Distance from job_title_0:', movie_distances)

The Nearest Movies to job_title_0: [7, 5]
The Distance from job_title_0: [0.3195861825602283, 0.40340472183738674]

In [13]:
movie_similarity = [-x+1 for x in movie_distances] # inverse distance 

predicted_rating = (movie_similarity[0]*df.iloc[sim_movies[0],7] + movie_similarity[1]*df.iloc[sim_movies[1],7])/sum(movie_similarity)
print(predicted_rating)

2.5328183015946415

In [14]:
def recommend_movies(user, num_recommended_movies):

  print('The list of the Movies {} Has Watched \n'.format(user))

  for m in df[df[user] > 0][user].index.tolist():
    print(m)
  
  print('\n')

  recommended_movies = []

  for m in df[df[user] == 0].index.tolist():

    index_df = df.index.tolist().index(m)
    predicted_rating = df.iloc[index_df, df.columns.tolist().index(user)]
    recommended_movies.append((m, predicted_rating))

  sorted_rm = sorted(recommended_movies, key=lambda x:x[1], reverse=True)
  
  print('The list of the Recommended Movies \n')
  rank = 1
  for recommended_movie in sorted_rm[:num_recommended_movies]:
    print('{}: {} - predicted rating:{}'.format(rank, recommended_movie[0], recommended_movie[1]))
    rank = rank + 1

In [15]:
recommend_movies('user_4',5)

The list of the Movies user_4 Has Watched

job_title_0
job_title_5
job_title_6
job_title_7
job_title_8


The list of the Recommended Movies

1: job_title_1 - predicted rating:0
2: job_title_2 - predicted rating:0
3: job_title_3 - predicted rating:0
4: job_title_4 - predicted rating:0
5: job_title_9 - predicted rating:0

# Applying to Dataset

In [39]:
ratings = pd.read_csv('dataset/data.csv', usecols=['userId','jobid','rating'])
jobs = pd.read_csv('dataset/filtere_dice_jobs_dataset.csv', usecols=['jobid','jobtitle'])

In [40]:
jobs['jobid'] = jobs.index

In [41]:
ratings2 = pd.merge(ratings, jobs, how='inner', on='jobid')

In [42]:
print("rating_df shape :",ratings.shape)
print("jd_df shape :",jobs.shape)
print("after combining the jobs and ratings dataframe shape :",ratings2.shape)

rating_df shape : (71, 3)
jd_df shape : (1563, 2)
after combining the jobs and ratings dataframe shape : (71, 4)

In [53]:
print(ratings2

    userId  jobid  rating             jobtitle
0        1     26       2       .Net Developer
1        1    123       3       .Net Developer
2        1    287       1       .Net Developer
3        1    808       2  Front End Developer
4        1    250       3  Front End Developer
..     ...    ...     ...                  ...
66      10   1406       1     Python Developer
67      10    723       2     Python Developer
68      10    114       1     Python Developer
69      10    520       1      Devops Engineer
70      10    586       2      DevOps Engineer

[71 rows x 4 columns]

In [47]:
df = ratings2.pivot_table(index='jobtitle',columns='userId',values='rating').fillna(0)
rating2_copy = df.copy()

In [48]:
def recommend_movies(user, num_recommended_movies):

  print('The list of the Movies {} Has Watched \n'.format(user))

  for m in df[df[user] > 0][user].index.tolist():
    print(jobs[jobs["jobtitle"]==m]["jobid"].values[0],m)
  
  print('\n')

  recommended_movies = []

  for m in df[df[user] == 0].index.tolist():

    index_df = df.index.tolist().index(m)
    predicted_rating = rating2_copy.iloc[index_df, rating2_copy.columns.tolist().index(user)]
    recommended_movies.append((m, predicted_rating))

  sorted_rm = sorted(recommended_movies, key=lambda x:x[1], reverse=True)
  print('The list of the Recommended Movies \n')
  rank = 1
  for recommended_movie in sorted_rm[:num_recommended_movies]:
    print('{}:Job ID- {} - {} - predicted rating:{}'.format(rank, jobs[jobs["jobtitle"]==recommended_movie[0]]["jobid"].values[0],recommended_movie[0], recommended_movie[1]))
    rank = rank + 1

In [49]:
def movie_recommender(user, num_neighbors, num_recommendation):
  
  number_neighbors = num_neighbors

  knn = NearestNeighbors(metric='cosine', algorithm='brute')
  knn.fit(df.values)
  distances, indices = knn.kneighbors(df.values, n_neighbors=number_neighbors)


  user_index = df.columns.tolist().index(user)

  for m,t in list(enumerate(df.index)):
    if df.iloc[m, user_index] == 0:
      sim_movies = indices[m].tolist()
      movie_distances = distances[m].tolist()
    
      if m in sim_movies:
        id_movie = sim_movies.index(m)
        sim_movies.remove(m)
        movie_distances.pop(id_movie) 

      else:
        sim_movies = sim_movies[:num_neighbors-1]
        movie_distances = movie_distances[:num_neighbors-1]
           
      movie_similarity = [1-x for x in movie_distances]
      movie_similarity_copy = movie_similarity.copy()
      nominator = 0

      for s in range(0, len(movie_similarity)):
        if df.iloc[sim_movies[s], user_index] == 0:
          if len(movie_similarity_copy) == (number_neighbors - 1):
            movie_similarity_copy.pop(s)
          
          else:
            movie_similarity_copy.pop(s-(len(movie_similarity)-len(movie_similarity_copy)))
            
        else:
          nominator = nominator + movie_similarity[s]*df.iloc[sim_movies[s],user_index]
          
      if len(movie_similarity_copy) > 0:
        if sum(movie_similarity_copy) > 0:
          predicted_r = nominator/sum(movie_similarity_copy)
        
        else:
          predicted_r = 0

      else:
        predicted_r = 0
        
      rating2_copy.iloc[m,user_index] = predicted_r
  recommend_movies(user,num_recommendation)

In [56]:
movie_recommender(10, 10, 10)

The list of the Movies 10 Has Watched

0 DevOps Engineer
520 Devops Engineer
114 Python Developer
185 Python developer


The list of the Recommended Movies

1:Job ID- 33 - Android Developer - predicted rating:2.0
2:Job ID- 39 - Systems Administrator - predicted rating:2.0
3:Job ID- 6 - Web Developer - predicted rating:2.0
4:Job ID- 26 - .Net Developer - predicted rating:0.0
5:Job ID- 7 - Business Analyst - predicted rating:0.0
6:Job ID- 15 - Data Analyst - predicted rating:0.0
7:Job ID- 57 - Data Architect - predicted rating:0.0
8:Job ID- 20 - Data Scientist - predicted rating:0.0
9:Job ID- 2 - Front End Developer - predicted rating:0.0
10:Job ID- 177 - Senior Network Engineer - predicted rating:0.0

## Rough Work

In [21]:
df.index.tolist()

['job_title_0',
 'job_title_1',
 'job_title_2',
 'job_title_3',
 'job_title_4',
 'job_title_5',
 'job_title_6',
 'job_title_7',
 'job_title_8',
 'job_title_9']

In [20]:
df.index.tolist().index('job_title_0')

0

In [22]:
indices[index_for_movie]

array([0, 7, 5])

In [25]:
list(enumerate(df.index))

[(0, 'job_title_0'),
 (1, 'job_title_1'),
 (2, 'job_title_2'),
 (3, 'job_title_3'),
 (4, 'job_title_4'),
 (5, 'job_title_5'),
 (6, 'job_title_6'),
 (7, 'job_title_7'),
 (8, 'job_title_8'),
 (9, 'job_title_9')]

In [99]:
ratings = pd.read_csv('dataset/user_rating_JD.csv', usecols=['userId','jobid','rating'])
movies = pd.read_csv('dataset/jd_dataset.csv', usecols=['jobid','job_designation'])
ratings2 = pd.merge(ratings, movies, how='inner', on='jobid')

In [100]:
ratings2.head()

   userId  jobid  rating              job_designation
0       1    870     2.5  SEO Manager job description
1       4    870     3.0  SEO Manager job description
2      15    870     1.0  SEO Manager job description
3      15    870     1.5  SEO Manager job description
4      15    870     0.5  SEO Manager job description