In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./dataset/filtere_dice_jobs_dataset.csv")
df.shape

(1563, 12)

In [3]:
df.isna().sum()

advertiserurl                  0
company                        1
employmenttype_jobstatus       5
jobdescription                 0
jobid                          0
joblocation_address            0
jobtitle                       0
postdate                       0
shift                         15
site_name                   1296
skills                         0
uniq_id                        0
dtype: int64

In [4]:
df_required_data = df[["company","jobtitle","employmenttype_jobstatus","jobdescription","joblocation_address","skills"]]
df_required_data.head(2)

,company,jobtitle,employmenttype_jobstatus,jobdescription,joblocation_address,skills
0,Matrix Resources,DevOps Engineer,Full Time,Midtown based high tech firm has an immediate ...,"Atlanta, GA","Configuration Management, Developer, Linux, Ma..."
1,Noble1,Network Engineer,"Full Time, Direct Hire",Network Engineer Job Description A Network Eng...,"Atlanta, GA","Cisco, DNS, HTTP, Networking, Network Engineer..."

In [5]:
df_required_data.dtypes

company                     object
jobtitle                    object
employmenttype_jobstatus    object
jobdescription              object
joblocation_address         object
skills                      object
dtype: object

In [6]:
df_required_data = df_required_data.dropna(axis=0)

In [7]:
df_required_data.isna().sum()

company                     0
jobtitle                    0
employmenttype_jobstatus    0
jobdescription              0
joblocation_address         0
skills                      0
dtype: int64

In [8]:
customer_item_matrix = df_required_data.pivot_table(
    index='skills','jobtitle', 
    columns='StockCode', 
    values='Quantity',
    aggfunc='sum'
)

SyntaxError: positional argument follows keyword argument (1649361086.py, line 2)